$pp : #ffd500;
$kk : #a28f61;
$gy : #8d9198;

body {
  background-color: #eeeeee;
header {
    background-color: #281400;
    text-align: center;

    h1,
    h2 {
        color: white;
    }

    nav{
        a{
            color: white;
        }
        ul{
            justify-content: center;
            width: 100%;
        }
    }
    .btn{
        background-color: #a28f61;
        color: white;
    }

}

main {
  h2 {
    text-align: center;
  }
  article {
    background-color: white;
    div.article-div {
      padding: 1em;
      h3 {
        font-size: 1em;
        font-weight: bold;
      }
      h3.kk {
        color: $kk;
      }
      h3.pp {
        color: $pp;
      }
      h3.grey {
        color: $gy;
      }
      h4 {
        font-size: 1em;
      }
    }
  }
}

footer {
    background-color: #0f3e57;
}
}
